<footer>
    <div class="footer-content">
        <div class="company-info">
            <img src="/logo_empresa.png" alt="Logo da Empresa">
            <p>Visite nosso site: <a href="http://www.autoric.com.br">www.autoric.com.br</a></p>
        </div>
        <div class="slogan">
            <p>TECNOLOGIA AO ALCANCE DE TODOS!</p>
        </div>
    </div>
</footer>
